<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="bg-red-700 flex justify-between p-4 px-10 items-center">
                <div class="w-20 h-w-20"><img src="./img/logo.png" alt=""></div>

                <div>
                    <form action="" method="post">
                        <div><input class="border-2 z-auto rounded-s-md me-[-6px] w-96 py-2 px-2"
                                type="text" name="" id="" placeholder="Tìm kiếm từ khóa" />
                            <button type="submit"
                                class="text-black p-2 border-2 w-20 border-white rounded-e-md bg-white"><i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>

                <div>
                    <div class="flex gap-4">
                        <a href="" class="border-2 p-2 text-white rounded-md">Đăng nhập</a>
                        <a href="" class="border-2 p-2 text-white bg-slate-600 rounded-md">Đăng
                            ký</a>
                    </div>
                </div>
            </div>

            <nav>
                <ul class="flex justify-between px-5 my-3 font-bold text-red-700">
                    <li><a href=""
                            class="hover:bg-amber-900 hover:text-white rounded-md p-2 flex items-center gap-4"><i
                                class="fa-solid fa-house"></i>
                            TRANG
                            CHỦ</a></li>
                    <li><a href="" class="hover:bg-amber-900 hover:text-white rounded-md p-2">CỬA
                            HÀNG</a></li>
                    <li><a href="" class="hover:bg-amber-900 hover:text-white rounded-md p-2">DANH
                            MỤC</a></li>
                    <li><a href="" class="hover:bg-amber-900 hover:text-white rounded-md p-2">SẢN
                            PHẨM</a></li>
                    <li><a href="" class="hover:bg-amber-900 hover:text-white rounded-md p-2">LIÊN
                            HỆ</a></li>
                    <li><a href="" class="hover:bg-amber-900 hover:text-white rounded-md p-2">GIỚI
                            THIỆU</a></li>
                </ul>
            </nav>

            <div>
                <ul class="flex p-5 text-red-700 underline">
                    <li><a href="" class="">link/</a></li>
                    <li><a href="" class="">link/</a></li>
                    <li><a href="" class="">link/</a></li>
                </ul>
            </div>
        </header>
        <div class="main-content">
            <!-- banner -->
            <div>
                <img src="./img/bannerpro.jpg" class="w-full h-[500px] object-contain" alt="">
            </div>
            <!-- dịch vụ -->
            <div class="flex  justify-between px-5 ">
                <div class="text-center w-56">
                    <img class="mx-auto my-4" src="./img/tk.jpg" alt="" class="">
                    <h4 class="font-semibold text-xl">Mua hàng siêu
                        tiết kiệm</h4>
                    <p class="mt-1">Các sản phẩm luôn được bán với giá ưu đãi nhất
                    </p>
                </div>

                <div class="text-center w-56">
                    <img class="mx-auto my-4" src="./img/khuyenmai.jpg" alt="" class="">
                    <h4 class="font-semibold text-xl">Khuyến mãi cực
                        lớn</h4>
                    <p class="mt-1">Được hưởng chương trình và các khuyến mãi cực
                        lớn</p>
                </div>

                <div class="text-center w-56">
                    <img class="mx-auto my-4" src="./img/chatluong.jpg" alt="" class="">
                    <h4 class="font-semibold text-xl">Chất lượng</h4>
                    <p class="mt-1">Nguyên liệu đảm bảo vệ sinh an toàn vệ sinh thực
                        phẩm</p>
                </div>

                <div class="text-center w-56">
                    <img class="mx-auto my-4" src="./img/thanhtoan.jpg" alt="" class="">
                    <h4 class="font-semibold text-xl">Thanh toán dễ
                        dàng</h4>
                    <p class="mt-1">Trả tiền khi nhận hàng <br><span>(COD)</span>
                    </p>
                </div>
            </div>

            <!-- products -->
            <!-- new -->
            <div class="px-10">
                <div class="grid grid-cols-4 gap-5 text-center">
                    <div
                        class="hover:border-1 transition-all ease-in-out hover:border-gray-300 hover:rounded-md hover:scale-95 hover:shadow-md hover:shadow-slate-500 p-3">
                        <img src="./img/bacxiuda.jpg" alt="">
                        <div class="flex flex-col flex-1 mt-auto font-semibold my-4">
                            <h1 class="text-xl my-2">Bạc
                                xỉu đá</h1>
                            <p class="text-red-700 mt-auto flex-shrink-0">2000.000 <span
                                    class="underline">đ</span></p>

                        </div>
                        <button
                            class="text-black bg-white border-2 mt-auto flex-shrink-0 border-red-700 rounded-md hover:bg-red-700 hover:text-white p-4 font-normal">Mua
                            Ngay</button>
                    </div>




















                </div>
            </div>
        </div>
        <footer class="my-11 px-10">
            <hr>
            <div class="flex justify-between my-4 container">
                <div class="w-60 leading-7">
                    <h2 class="font-semibold mb-3">HAI LẦN COFFEE CPG</h2>
                    <p class="">Hai Lần coffee là dự án của sinh viên trường cao đẳng thực hành FPT
                        polytechnic</p>
                    <img class="mt-3" src="./img/logo.png" alt="">
                </div>

                <div class="w-60 leading-7">
                    <h2 class="font-semibold mb-3">THÔNG TIN CÔNG TY</h2>
                    <p>
                        FPT phố Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội
                    </p>
                    <p>Số điện thoại: 0123456789</p>
                    <p>hailan@gmail.com</p>
                </div>

                <div class="w-36 leading-8">
                    <h2 class="font-semibold mb-3">MENU</h2>
                    <ul class=" leading-8">
                        <li><a href="">TRANG CHỦ</a></li>
                        <li><a href="">CỬA HÀNG</a></li>
                        <li><a href="">SẢN PHẨM</a></li>
                        <li><a href="">LIÊN HỆ</a></li>
                        <li><a href="">GIỚI THIỆU</a></li>
                    </ul>

                </div>

                <!-- chăm sóc khách hàng -->
                <div>
                    <h2 class="font-semibold mb-3">TỔNG ĐÀI HỖ TRỢ</h2>
                    <div class="flex gap-4 items-center">
                        <div class="text-4xl">
                            <i class="fa-solid fa-phone-volume"></i>
                        </div>
                        <div class="leading-8">
                            <p>Lỗi sản phẩm: <span>019999999</span></p>
                            <p>Mua hàng: <span>018888888</span></p>
                            <p>hailan@gmail.com</p>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="text-md font-semibold">FOLLOW US</h3>
                        <div>
                            <span class="me-1"><i class="fa-brands fa-facebook-f"></i></span>
                            <span class="mx-1"><i class="fa-brands fa-twitter"></i></span>
                            <span class="mx-1"><i class="fa-brands fa-youtube"></i></span>
                            <span class="ms-1"><i class="fa-brands fa-square-instagram"></i></span>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>