<header>
    <div class="bg-red-700 flex justify-between p-4 px-10 items-center">
        <div class="w-20 h-w-20"><img src="/img/logo.png" alt=""></div>

        <div>
            <form action="" method="post">
                <div><input class="border-2 z-auto rounded-s-md me-[-6px] w-96 py-2 px-2"
                        type="text" name="" id="" placeholder="Tìm kiếm từ khóa" />
                    <button type="submit"
                        class="text-black p-2 border-2 w-20 border-white rounded-e-md bg-white"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </div>

        <div>
            <div class="flex gap-4">
                <a href="/login" class="border-2 p-2 text-white rounded-md">Đăng nhập</a>
                <a href="/register" class="border-2 p-2 text-white bg-slate-600 rounded-md">Đăng
                    ký</a>
            </div>
        </div>
    </div>

    <nav>
        <ul class="flex justify-between px-5 my-3 font-bold text-red-700">
            <li><a href=""
                    class="hover:bg-amber-900 hover:text-white rounded-md p-2 flex items-center gap-4"><i
                        class="fa-solid fa-house"></i>
                    TRANG
                    CHỦ</a></li>
            <li><a href="/store" class="hover:bg-amber-900 hover:text-white rounded-md p-2">CỬA
                    HÀNG</a></li>
            <li><a href="/category" class="hover:bg-amber-900 hover:text-white rounded-md p-2">DANH
                    MỤC</a></li>
            <li><a href="/product" class="hover:bg-amber-900 hover:text-white rounded-md p-2">SẢN
                    PHẨM</a></li>
            <li><a href="contact" class="hover:bg-amber-900 hover:text-white rounded-md p-2">LIÊN
                    HỆ</a></li>
            <li><a href="about" class="hover:bg-amber-900 hover:text-white rounded-md p-2">GIỚI
                    THIỆU</a></li>
        </ul>
    </nav>

    <div>
        <ul class="flex p-5 text-red-700 underline">
            <li><a href="" class="">link/</a></li>
            <li><a href="" class="">link/</a></li>
            <li><a href="" class="">link/</a></li>
        </ul>
    </div>
</header>